@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto&display=swap');
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --container-custom: 1240px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #121212;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  scroll-behavior: smooth;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* Apply Roboto to all heading tags */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
h2{
  font-family: Roboto;
font-weight: 400;
font-size: 34px;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;

}
h3 {
  font-family: Montserrat;
font-weight: 700;
font-size: 31px;
line-height: 30px;
letter-spacing: 0%;
vertical-align: middle;

h4{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  

}
}
h5{
  font-family: Open Sans;
font-weight: 600;
font-size: 34px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;


h6 {
  font-family: Open Sans;
font-weight: 700;
font-size: 25px;
line-height: 26px;
letter-spacing: 0%;


}
}
/* Apply Open Sans to paragraph tags */
p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.6px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFFCC;
}
a {
  font-family: 'Open Sans', sans-serif;
}
link {
  font-family: 'Open Sans', sans-serif;
}
span {
  font-family: 'Open Sans', sans-serif; 
}
/* Hide scrollbar but keep scroll behavior */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

products_banner_logo_box {
  width: 492.5;
  height: 33;
  top: 186px;
  left: 474px;
}

/* Swipper */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ccc;
  opacity: 0.5;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 24px;
  opacity: 1;
  background: white;
}
